.first-page{
    width:100vw;
    height: 100vh;
    background-color: #F3F3F3;

    .first-page-container{
        display: flex;
        margin-top: 5%;
        align-items: center;
        width: 85%;
        
        
        .first-page-content{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            

            >div{
                margin-right: 5%;
                padding-left: 5%;
                position: fixed;
                top:40%;
                left:4%;
                >h1{
                    position: relative;
                    font-size: 72px;
                    z-index: 1500;
                    width: 150%;
                    font-weight: 500;

                }
            }

            .first-page-arrow{
                position: fixed;
                top:49%;
                left:29%;
                transition: 1s;
                z-index: 15000;
                &:hover {
                    // margin-left:10%;
                    left:30%;
                    
                }


                >i{
                    font-size: 40px;
                    color:#0E9263;
                    transition: 1s;

                    // &hover:i{

                    // }
                }

            }


        }

        .first-page-blue-square{
            width:10%;
            height: 10vh;
            border-radius: 5vh;
            background-color:#82D4DE ;
            position: fixed;
            top:15%;
            left: 50%;
        }

        .first-page-mobile{
            margin-left: 3%;
            position: fixed;
            z-index: 20000;
            top:7%;
            left: 53%;
            >img{
                width:90%;
                position: relative;
                z-index: 1000;
            }
        }

    }

    .info-container{
        display: flex;
        position: fixed;
        top:90%;
        left:10%;

        >p{ 
            font-weight: 300;
            font-size: 12x;
            letter-spacing: 0.6px;
            margin-right: 5vh;
            z-index: 19999;
        }

        .info-container-with-link{
            &:hover{
                color:#009163
            }
        }
    }


}